@font-face {
  font-family: 'Legothick';
  src: url("../font/Legothick.woff") format("woff"), url("../font/Legothick.ttf") format("truetype"), url("../font/Legothick.eot?") format("eot"), url("../font/Legothick.svg#Legothick") format("svg"); }

html {
  height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  position: relative; }

header {
  z-index: 100;
  position: relative;
  background: #2C3E50; }
  header nav {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav .nav-content {
      display: flex;
      width: 100%;
      justify-content: flex-end; }
      header nav .nav-content .nav-list.nav-list-user {
        justify-content: center;
        padding-left: 60px; }
        header nav .nav-content .nav-list.nav-list-user li {
          margin-right: 0; }
      header nav .nav-content .nav-list {
        display: flex;
        color: #FFF;
        margin: 0;
        list-style: none; }
        header nav .nav-content .nav-list .user-link-wrapper {
          position: relative; }
          header nav .nav-content .nav-list .user-link-wrapper .user-link {
            position: relative; }
            header nav .nav-content .nav-list .user-link-wrapper .user-link + .user-link-dropdown {
              position: absolute;
              left: 0;
              border-radius: 2px;
              top: 66px;
              background: rgba(0, 0, 0, 0.9);
              display: none; }
              header nav .nav-content .nav-list .user-link-wrapper .user-link + .user-link-dropdown .user-form {
                display: flex;
                flex-direction: column; }
                header nav .nav-content .nav-list .user-link-wrapper .user-link + .user-link-dropdown .user-form button {
                  color: #FFF;
                  padding: 20px 70px;
                  font-size: 20px;
                  background: transparent;
                  border: 1px solid transparent;
                  border-bottom: 2px solid #825794;
                  transition: .3s;
                  white-space: nowrap; }
                  header nav .nav-content .nav-list .user-link-wrapper .user-link + .user-link-dropdown .user-form button:hover {
                    cursor: pointer;
                    color: white;
                    background: #4dadf7; }
                header nav .nav-content .nav-list .user-link-wrapper .user-link + .user-link-dropdown .user-form button:nth-child(3) {
                  border-bottom: 1px solid transparent; }
          header nav .nav-content .nav-list .user-link-wrapper .user-link-active + .user-link-dropdown {
            display: block; }
        header nav .nav-content .nav-list li {
          margin-right: 60px; }
          header nav .nav-content .nav-list li a {
            display: block;
            padding: 5px;
            text-decoration: none;
            font-size: 20px;
            color: #FFF; }
            header nav .nav-content .nav-list li a:hover {
              cursor: pointer;
              border-bottom: 1px solid  white; }
      header nav .nav-content .nav-form .nav-search {
        padding: 10px;
        border-radius: 5px;
        border: none; }
      header nav .nav-content .nav-form .was-found {
        padding: 20px;
        border: 1px solid black;
        background: #FFF;
        border-radius: 5px;
        display: none;
        position: absolute;
        top: 100px; }
        header nav .nav-content .nav-form .was-found a {
          display: block; }

div[data-remodal-id="modal_check_in"].active .sign-in-wrapper {
  left: -100%;
  z-index: -100;
  visibility: hidden;
  transition: 1s; }

div[data-remodal-id="modal_check_in"].active .to-register-wrapper {
  visibility: visible;
  transition: 1s;
  left: 0; }

div[data-remodal-id="modal_check_in"] {
  overflow: hidden;
  min-height: 450px;
  background: rgba(255, 255, 255, 0.9);
  color: white;
  position: relative; }
  div[data-remodal-id="modal_check_in"] .back.back-active {
    visibility: visible;
    opacity: 1;
    transition: .1s visibility 1s , .6s opacity 1s; }
  div[data-remodal-id="modal_check_in"] .back {
    transition: .1s visibility  , .6s opacity;
    visibility: hidden;
    opacity: 0;
    background: transparent;
    border: none;
    left: 0;
    top: 0;
    padding: 10px;
    padding-left: 15px;
    font-size: 17px;
    position: absolute;
    color: #777;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2); }
    div[data-remodal-id="modal_check_in"] .back:focus {
      outline: none; }
    div[data-remodal-id="modal_check_in"] .back svg {
      margin-right: 5px;
      transition: .4s; }
    div[data-remodal-id="modal_check_in"] .back:hover {
      cursor: pointer; }
      div[data-remodal-id="modal_check_in"] .back:hover svg {
        transform: translateX(-5px); }
  div[data-remodal-id="modal_check_in"] button[data-remodal-action="close"] {
    left: calc(100% - 35px); }
  div[data-remodal-id="modal_check_in"] .sign-in-wrapper {
    display: block;
    transition: 1s;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    left: 0; }
    div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in {
      color: #777;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; }
      div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input {
        align-items: center;
        margin-bottom: 20px;
        width: 65%;
        display: flex;
        justify-content: space-between; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input input {
          color: rgba(0, 0, 0, 0.7);
          width: 50%;
          padding: 10px;
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
          border: 2px solid rgba(0, 0, 0, 0.125);
          border-radius: 4px;
          padding: 15px;
          font-size: 20px;
          transition: .5s; }
          div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input input::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.3); }
          div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input input:focus {
            outline: none;
            border: 2px solid #0b8aed;
            box-shadow: 0px 0px 8px #4dadf7; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input label {
          display: flex;
          height: 30px;
          line-height: 30px; }
          div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input label:hover {
            cursor: pointer; }
          div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input label::before {
            margin-right: 10px; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input label[for="user-email-sign"]::before {
          font-family: "FontAwesome";
          content: "\f0e0";
          display: block; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input label[for="user-password-sign"]::before {
          font-family: "FontAwesome";
          content: "\f084";
          display: block; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input button {
          padding: 15px 25px;
          border: 3px solid #825794;
          font-size: 22px;
          text-shadow: -1px -1px 1px #825794;
          border-radius: 3px;
          color: #825794;
          display: flex;
          background-color: rgba(130, 87, 148, 0.1);
          transition: .4s; }
          div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input button:hover {
            cursor: pointer;
            color: #FFF;
            background: #825794; }
          div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input button:focus {
            outline: none; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input button[type="button"] svg {
          font-size: 24px;
          margin-left: 10px;
          transition: transform .5s; }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input button[type="button"]:hover svg {
          transform: translateX(10px); }
        div[data-remodal-id="modal_check_in"] .sign-in-wrapper .sign-in .sing-in-wrapper-input button[type="submit"] svg {
          margin-right: 10px; }
  div[data-remodal-id="modal_check_in"] .to-register-wrapper {
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    visibility: hidden;
    width: 100%;
    left: 100%;
    position: absolute; }
    div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register {
      align-items: center;
      display: flex;
      flex-direction: column; }
      div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register .wrapper-input-to-register {
        width: 65%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 15px; }
        div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register .wrapper-input-to-register input {
          box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.1);
          width: 100%;
          padding: 30px 20px 10px;
          border-radius: 5px;
          border: 2px solid rgba(0, 0, 0, 0.125); }
          div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register .wrapper-input-to-register input:focus {
            box-shadow: 0px 0px 8px black;
            outline: none; }
            div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register .wrapper-input-to-register input:focus + label {
              font-size: 15px;
              top: 0;
              transform: translateY(5px); }
        div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register .wrapper-input-to-register label {
          transition: .5s;
          height: 20px;
          line-height: 20px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          color: rgba(0, 0, 0, 0.3);
          position: absolute; }
      div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register button[name="to-register-btn"] {
        padding: 20px;
        background: darkred;
        color: #FFF;
        border-radius: 5px;
        border: none;
        font-size: 25px;
        width: 50%;
        margin-top: 25px;
        position: relative;
        overflow: hidden;
        transition: 1s; }
        div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register button[name="to-register-btn"]:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px black;
          text-shadow: 0px 0px 10px white;
          transition: 1s; }
          div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register button[name="to-register-btn"]:hover::before {
            top: 100%;
            transition: 1s; }
        div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register button[name="to-register-btn"]:active {
          box-shadow: inset 0px 0px 15px black; }
        div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register button[name="to-register-btn"]:focus {
          outline: none; }
        div[data-remodal-id="modal_check_in"] .to-register-wrapper .to-register button[name="to-register-btn"]::before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          left: 0;
          top: -100%; }

.content {
  padding-top: 100px;
  min-height: 900px;
  background: url("../img/darkness.png");
  animation: 10s  backland linear infinite; }
  .content .content-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.85);
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #2ECC71; }
    .content .content-wrapper .content-item {
      padding: 20px;
      grid-column: 1/9;
      position: relative; }
      .content .content-wrapper .content-item .like-it {
        position: absolute;
        bottom: 10px;
        right: 30px; }
        .content .content-wrapper .content-item .like-it button {
          border: none;
          background: transparent;
          padding: 5px;
          color: #777;
          font-size: 20px;
          transition: .3s; }
          .content .content-wrapper .content-item .like-it button svg {
            margin-right: 10px;
            margin-bottom: 1px; }
          .content .content-wrapper .content-item .like-it button:hover {
            color: black;
            cursor: pointer; }
      .content .content-wrapper .content-item .title-post {
        margin: 0; }
    .content .content-wrapper .sidebar {
      border-radius: 0 10px 10px 0;
      background: #FFF;
      grid-column: 9 / 13; }
      .content .content-wrapper .sidebar .sidebar-wrapper .sidebar-list {
        width: 100%;
        font-size: 0;
        margin: 0;
        list-style: none;
        padding: 0; }
        .content .content-wrapper .sidebar .sidebar-wrapper .sidebar-list li {
          font-size: 20px; }
          .content .content-wrapper .sidebar .sidebar-wrapper .sidebar-list li a {
            border: 1px solid black;
            text-align: center;
            text-decoration: none;
            display: block;
            color: black;
            padding: 20px;
            transition: .3s; }
            .content .content-wrapper .sidebar .sidebar-wrapper .sidebar-list li a:hover {
              background: #4dadf7;
              color: #FFF; }
          .content .content-wrapper .sidebar .sidebar-wrapper .sidebar-list li .sidebar-list-item-active {
            background: #4dadf7;
            color: #FFF; }
            .content .content-wrapper .sidebar .sidebar-wrapper .sidebar-list li .sidebar-list-item-active:hover {
              border-bottom: 1px solid blue; }

@keyframes backland {
  0% {
    background-position: 0px 0; }
  100% {
    background-position: 1000px 0; } }

.perspective-form {
  width: 300px;
  margin: 200px auto;
  perspective: 1000px; }
  .perspective-form .form {
    transform-style: preserve-3d;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    transition: 1s; }
    .perspective-form .form .adminka {
      transform: rotateY(180deg);
      transition: 1s;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column; }
      .perspective-form .form .adminka button.submit-post {
        font-weight: bold;
        margin-top: 20px;
        background: darkred;
        padding: 10px 20px;
        color: #FFF;
        border: none;
        border-radius: 10px;
        width: 100%; }
        .perspective-form .form .adminka button.submit-post:hover {
          cursor: pointer; }
        .perspective-form .form .adminka button.submit-post:focus {
          outline: none; }
      .perspective-form .form .adminka label {
        margin: 10px 0;
        color: #FFF; }
      .perspective-form .form .adminka input {
        border-radius: 10px;
        border: none;
        box-shadow: inset 0px 5px 2px rgba(0, 0, 0, 0.15);
        padding: 10px; }
        .perspective-form .form .adminka input:focus {
          outline: none;
          box-shadow: 0px 0px 20px darkred; }
      .perspective-form .form .adminka textarea {
        border: none;
        border-radius: 10px;
        box-shadow: inset 0px 5px 2px rgba(0, 0, 0, 0.15);
        padding: 10px; }
        .perspective-form .form .adminka textarea:focus {
          outline: none;
          box-shadow: 0px 0px 20px darkred; }
      .perspective-form .form .adminka .control {
        margin-top: 20px;
        display: flex;
        min-height: 25px; }
        .perspective-form .form .adminka .control button {
          width: 45%;
          font-weight: bold;
          background: darkred;
          border: none;
          color: #FFF;
          padding: 7px 12px;
          border-radius: 10px 0 0 10px; }
          .perspective-form .form .adminka .control button:hover {
            cursor: pointer; }
          .perspective-form .form .adminka .control button:focus {
            outline: none; }
        .perspective-form .form .adminka .control button[name="apply"] {
          border-radius: 10px;
          width: 35%;
          margin-left: auto;
          background: #2ECC71; }
          .perspective-form .form .adminka .control button[name="apply"]:focus {
            outline: none; }
        .perspective-form .form .adminka .control select {
          border: none;
          border-radius: 0 10px 10px 0; }
    .perspective-form .form .authorization {
      position: absolute;
      top: 50%;
      padding: 20px;
      width: calc(100% - 40px);
      left: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      transform: translateY(-50%);
      backface-visibility: hidden; }
      .perspective-form .form .authorization input {
        width: 90%;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid black;
        margin-bottom: 10px; }
      .perspective-form .form .authorization button {
        margin-top: 10px;
        font-size: 18px;
        padding: 10px 20px;
        background: transparent;
        color: white;
        border: 3px solid #825794;
        transition: .4s;
        border-radius: 2px; }
        .perspective-form .form .authorization button:hover {
          cursor: pointer;
          background: #825794;
          color: #FFF; }
        .perspective-form .form .authorization button:focus {
          outline: none; }

.perspective-form-validate .form {
  transform: rotateY(180deg); }
